<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroMart</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.6/ScrollTrigger.min.js" integrity="sha512-+LXqbM6YLduaaxq6kNcjMsQgZQUTdZp7FTaArWYFt1nxyFKlQSMdIF/WQ/VgsReERwRD8w/9H9cahFx25UDd+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/animations.js"></script>

<body>

<header>
    <div class="logo">FreshMart</div>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Shop</a>
        <a href="#">Contact</a>
    </nav>
    <a href="/signup" class="sign-up">Sign Up</a>
</header>

<div class="hero-section">
    <div class="hero-content">
        <h1>Make healthy life with <span style="color: #1EBE3A;">fresh</span> grocery</h1>
        <p>Get the best quality and most delicious grocery food in the world, you can get them all using our website.</p>
        <button class="shop-now-btn"><a href="/login">Shop Now</a></button>
    </div>
    <div class="hero-image">
        <img src="images/h10-bg-slider-banner1.png" alt="basket_of_vegetables">
    </div>
</div>

<div class="download-section">
    <div>For Better Service Download now</div>
    <div class="download-buttons">
        <img src="path-to-google-play-badge" alt="Google Play">
        <img src="path-to-app-store-badge" alt="App Store">
    </div>
</div>

</body>
</html>
